@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Colors */
    --clr-white: #FFFFFF;
    --clr-black: #000000;
    --clr-yellow: #FFEA00;
    --clr-blue: #00BFFF;
    --clr-violet: #6A00FF;
    --clr-tomato: #FF4F00;
    --clr-green: #00ffa2;

    /* Sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}


* {
    margin: 0;
    line-height: 1.2em;
}

body {
    line-height: 1.4;
    font-family: "Plus Jakarta Sans", sans-serif;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;

    user-select: none;
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
    background-color: var(--clr-secondary);
}

html::-webkit-scrollbar-thumb {
    background-color: var(--clr-primary);
    border-radius: 10px;
}