#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--size-4xl);

    background-color: var(--clr-white);

    padding: var(--size-2xl) var(--size-10xl);
}

/* Header */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-lg);

    width: 100%;
    height: 100%;
}

.header .icon {
    width: var(--size-7xl);
    height: var(--size-7xl);
}

.header .title {
    font-size: var(--size-6xl);
    font-weight: 1000;

    font-family: "Poppins", sans-serif;
}

.header .desc {
    font-size: var(--size-lg);
    font-weight: 500;

    text-align: center;

    width: 50%;
}

/* Main */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--size-5xl);

    width: 100%;
    height: 100%;
}

/* Total Expenses */
.main .info-container {
    background-color: var(--clr-violet);
    color: var(--clr-white);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main .info__title {
    text-align: start;

    font-size: var(--size-2xl);
}

.main .info__total {
    font-family: "Poppins", sans-serif;
    font-size: var(--size-5xl);
    font-weight: 700;

    margin: var(--size-xxs) 0;
}

.main .info__amount {
    font-weight: 300;
}

.main .icon {
    width: var(--size-6xl);
    height: var(--size-6xl);
}

/* Form Expenses */
.main .form-title {
    display: flex;
    align-items: center;
    gap: var(--size-base);
}

.main .form-input:focus {
    outline: .1rem solid var(--clr-green);
}

.main .form-container .icon-container {
    width: var(--size-5xl);
    height: var(--size-5xl);

    padding: .1rem;
}

.main .form-btn {
    background-color: var(--clr-green);
}

/* List Expenses */
.lists-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: var(--size-2xl);

    padding: 0;

    width: 100%;
    height: 100%;
}

.list-title {
    font-size: var(--size-3xl);
    font-weight: 800;


    text-align: start;
}

.lists {
    overflow: scroll;

    max-width: 100%;
    max-height: calc(var(--size-10xl) * 2 + var(--size-5xl));

    padding: var(--size-xxs) var(--size-2xl);

    scrollbar-width: none;
}

/* Edit card */
.modal-edit {
    padding: var(--size-2xl);

    position: fixed;
    top: 50%;
    left: 50%;

    width: 70%;

    transform: translate(-50%, -50%);
}

.modal-edit .form-title {
    display: flex;
    align-items: center;
    gap: var(--size-sm);

    font-size: var(--size-3xl);
}

.modal-edit .form-title .icon,
.modal-edit .btn-close {
    width: var(--size-5xl);
    height: var(--size-5xl);

    padding: .3rem;

    background-color: var(--clr-blue);
    color: var(--clr-white);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-edit .btn-close {
    background-color: var(--clr-tomato);

    position: absolute;

    width: calc(var(--size-5xl) - .5rem);
    height: calc(var(--size-5xl) - .5rem);

    font-size: var(--size-2xl);

    right: var(--size-xl);
    top: var(--size-base);
}

.modal-edit .form-input:focus {
    outline: .1rem solid var(--clr-blue);
}

.modal-edit .form-btn {
    background-color: var(--clr-blue);
    color: var(--clr-white);
}

/* Empty */
.empty-card {
    padding: var(--size-sm);

    text-transform: capitalize;
}

.empty {
    font-size: var(--size-2xl);
    font-weight: 800;

    text-align: center;
}