  .section {
      width: 100%;
      height: 100%;
  }

  .container {
      padding: var(--size-lg) var(--size-2xl);

      width: 100%;
      height: 100%;
  }

  /* Border */
  .border {
      border: .1rem solid var(--clr-black);
      border-radius: var(--size-sm);

      transition: all .3s ease-in;
  }

  /* Shadow */
  .shadow-sm {
      box-shadow: .2rem .2rem 0rem .1rem var(--clr-black);
  }

  .shadow-md {
      box-shadow: .3rem .3rem 0rem .1rem var(--clr-black);
  }

  .shadow-lg {
      box-shadow: .4rem .4rem 0rem .1rem var(--clr-black);
  }

  /* Icon */
  .icon-container {
      background-color: var(--clr-green);

      display: flex;
      justify-content: center;
      align-items: center;

      padding: var(--size-xs);
  }

  .icon {
      filter: drop-shadow(.1rem .1rem 0rem var(--clr-black));
  }

  /* Form */
  .form-container {
      display: grid;
      grid-template-columns: repeat(minmax(200px, 1fr), auto-fit);
      grid-template-rows: repeat(minmax(200px, 1fr), auto-fit);
      gap: var(--size-lg);

      width: 100%;
      height: 100%;

      padding: var(--size-xl);

      overflow: hidden;
  }

  .form-title {
      font-weight: 900;

      margin: var(--size-xxs) 0;
  }

  .form-group {
      display: flex;
      flex-direction: column;
      gap: var(--size-xxs);
  }

  .form-label {
      font-weight: 800;
  }

  .form-input {
      font-weight: 600;

      width: 100%;
      padding: var(--size-xxs) var(--size-sm);
  }

  .form-input[type="number"]::-webkit-inner-spin-button,
  .form-input[type="number"]::-webkit-outer-spin-button {
      display: none;
  }

  .form-btn {
      margin: var(--size-xxs) 0;
  }

  /* Button */
  .btn {
      font-weight: 800;

      padding: var(--size-xxs) var(--size-sm);

      text-align: center;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: var(--size-sm);

      transition: transform .2s ease-in, box-shadow .2s ease-in;
  }

  .btn:hover {
      transform: translateY(-.1rem);
      box-shadow: .4rem .4rem 0rem .1rem var(--clr-black);
  }

  /* Lists */
  .lists {
      display: flex;
      flex-direction: column;

      width: 100%;
      height: 100%;

      list-style: none;
      padding: 0;
      margin: 0;
  }

  .list-title {
      font-weight: 800;
  }

  .list-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: var(--size-2xl);

      width: 100%;
      height: 100%;

      padding: var(--size-xs) var(--size-base);
  }

  .list-info {
      display: flex;
      flex-direction: column;
      gap: var(--size-xl);

      width: 100%;
      height: 100%;
  }

  .list-head {
      display: flex;
      justify-content: space-between;
      align-items: center;

      gap: var(--size-base);
  }

  .list-name {
      font-weight: 800;
  }

  .list-category {
      font-weight: 600;

      padding: var(--size-vxs) var(--size-xs);

      background-color: var(--clr-green);
  }

  .list-details {
      display: flex;
      flex-direction: column;
      gap: var(--size-xxs);

      font-weight: 800;
  }

  .list-details span,
  .list-total span {
      font-weight: 500;
  }

  .list-total {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
  }

  .list-actions {
      display: flex;
      gap: var(--size-base);
  }

  .btn-delete,
  .btn-edit {
      width: var(--size-6xl);
      height: var(--size-4xl);

      overflow: hidden;
  }

  .btn-delete i,
  .btn-edit i {
      font-weight: 800;

      color: var(--clr-white);
  }

  .btn-delete {
      background-color: var(--clr-tomato);
  }

  .btn-edit {
      background-color: var(--clr-blue);
  }

  /* Breakpoints */
  @media screen and (min-width: 1024px) {}

  @media screen and (min-width: 769px) {}

  @media screen and (min-width: 578px) {}