.section {
    width: 100%;
    height: 100%;
}

.container {
    padding: var(--size-3xl) var(--size-4xl);

    width: 100%;
    height: 100%;
}

/* Border */
.border {
    border: .1rem solid var(--clr-black);
    border-radius: var(--size-sm);

    transition: all .3s ease-in;
}

/* Shadow */
.shadow-sm {
    box-shadow: .2rem .2rem 0rem .1rem var(--clr-black);
}

.shadow-md {
    box-shadow: .3rem .3rem 0rem .1rem var(--clr-black);
}

.shadow-lg {
    box-shadow: .4rem .4rem 0rem .1rem var(--clr-black);
}

/* Icon */
.icon-container {
    background-color: var(--clr-green);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: var(--size-xs);
}

.icon {
    filter: drop-shadow(.1rem .1rem 0rem var(--clr-black));
}

/* Form */
.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: var(--size-2xl);

    width: 100%;
    height: 100%;
    padding: var(--size-2xl);
}

.form-title {
    font-size: var(--size-3xl);
    font-weight: 900;

    grid-column: span 2;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: var(--size-xxs);
}

.form-label {
    font-size: var(--size-lg);
    font-weight: 800;
}

.form-input {
    font-size: var(--size-lg);
    font-weight: 600;

    padding: var(--size-xxs) var(--size-base);
}

.form-input[type="number"]::-webkit-inner-spin-button,
.form-input[type="number"]::-webkit-outer-spin-button {
    display: none;
}

.form-btn i {
    font-size: var(--size-2xl);
}

/* Button */
.btn {
    font-size: var(--size-lg);
    font-weight: 800;

    padding: var(--size-xxs) var(--size-2xl);

    text-align: center;

    grid-column: span 2;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--size-sm);

    transition: transform .2s ease-in, box-shadow .2s ease-in;
}

.btn:hover {
    transform: translateY(-.1rem);
    box-shadow: .4rem .4rem 0rem .1rem var(--clr-black);
}

/* Lists */
.lists {
    display: flex;
    flex-direction: column;
    gap: var(--size-4xl);

    width: 100%;
    height: 100%;

    list-style: none;
    padding: 0;
    margin: 0;
}

.list-title {
    font-size: var(--size-4xl);
    font-weight: 800;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;

    padding: var(--size-base) var(--size-2xl);
}

.list-info {
    display: flex;
    flex-direction: column;
    gap: var(--size-base);
}

.list-head {
    display: flex;
    justify-content: start;
    align-items: center;

    gap: var(--size-base);
}

.list-name {
    font-size: var(--size-2xl);
    font-weight: 800;
}

.list-category {
    font-size: var(--size-base);
    font-weight: 600;

    padding: var(--size-xxs) var(--size-sm);

    background-color: var(--clr-green);
}

.list-details {
    display: flex;
    gap: var(--size-sm);
}

.list-details span {
    font-size: var(--size-base);
    font-weight: 800;
}

.list-total {
    font-family: "Poppins", sans-serif;
    font-size: var(--size-2xl);
    font-weight: 700;
}

.list-actions {
    display: flex;
    gap: var(--size-base);
}

.btn-delete,
.btn-edit {
    width: var(--size-5xl);
    height: var(--size-5xl);

    overflow: hidden;
}

.btn-delete i,
.btn-edit i {
    font-size: var(--size-2xl);
    font-weight: 800;

    color: var(--clr-white);
}

.btn-delete {
    background-color: var(--clr-tomato);
}

.btn-edit {
    background-color: var(--clr-blue);
}

/* Breakpoints */
@media screen and (max-width: 1024px) {

    .container {
        padding: var(--size-2xl) var(--size-4xl);
    }

    /* Icon */
    .icon-container {
        padding: var(--size-xxs);
    }

    /* Form */
    .form-container {
        gap: var(--size-2xl);
    }

    .form-title {
        font-size: var(--size-2xl);
    }

    .form-label {
        font-size: var(--size-lg);
    }

    .form-input {
        font-size: var(--size-base);
        padding: var(--size-xxs) var(--size-base);
    }

    .form-btn {
        margin-top: var(--size-base);
    }

    .form-btn i {
        font-size: var(--size-xl);
    }

    /* Button */
    .btn {
        font-size: var(--size-base);

        grid-column: span 2;
    }

    /* Lists */
    .lists {
        display: flex;
        flex-direction: column;
        gap: var(--size-4xl);

        width: 100%;
        height: 100%;

        list-style: none;
        padding: 0;
        margin: 0;
    }

    .list-title {
        font-size: var(--size-3xl);
    }

    .list-item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        height: 100%;

        padding: var(--size-base) var(--size-2xl);
    }

    .list-name {
        font-size: var(--size-xl);
    }

    .list-category {
        font-size: var(--size-base);
    }

    .list-details {
        gap: var(--size-xxs);
    }

    .list-details span {
        font-size: var(--size-sm);
    }

    .list-total {
        font-size: var(--size-xl);
    }

    .list-actions {
        flex-direction: column;
    }

    .btn-delete,
    .btn-edit {
        width: var(--size-4xl);
        height: var(--size-4xl);
    }

    .btn-delete i,
    .btn-edit i {
        font-size: var(--size-xl);
    }
}

@media screen and (max-width: 769px) {

    .container {
        padding: var(--size-xl) var(--size-3xl);
    }

    /* Icon */
    .icon-container {
        padding: var(--size-xxs);
    }

    /* Form */
    .form-container {
        gap: var(--size-xl);
    }

    .form-title {
        font-size: var(--size-2xl);
    }

    .form-label {
        font-size: var(--size-lg);
    }

    .form-input {
        font-size: var(--size-sm);
        padding: var(--size-xxs) var(--size-lg);
    }

    .form-btn i {
        font-size: var(--size-lg);
    }

    /* Button */
    .btn {
        font-size: var(--size-sm);
    }

    /* Lists */
    .lists {
        gap: var(--size-3xl);
    }

    .list-title {
        font-size: var(--size-2xl);
    }

    .list-item {
        padding: var(--size-sm) var(--size-xl);
    }

    .list-name {
        font-size: var(--size-lg);
    }

    .list-category {
        font-size: var(--size-sm);
    }

    .list-details span {
        font-size: var(--size-xs);
    }

    .list-total {
        font-size: var(--size-lg);
    }

    .btn-delete,
    .btn-edit {
        width: var(--size-3xl);
        height: var(--size-3xl);
    }

    .btn-delete i,
    .btn-edit i {
        font-size: var(--size-lg);
    }
}

@media screen and (max-width: 678px) {

    .container {
        padding: var(--size-lg) var(--size-2xl);
    }

    /* Icon */
    .icon-container {
        padding: var(--size-xxs);
    }

    /* Form */
    .form-container {
        gap: var(--size-xl);
    }

    .form-title {
        font-size: var(--size-xl);
    }

    .form-group {
        grid-column: span 2;
    }

    .form-label {
        font-size: var(--size-base);
    }

    .form-input {
        font-size: var(--size-sm);
        padding: var(--size-xxs) var(--size-base);
    }

    .form-btn i {
        font-size: var(--size-lg);
    }

    /* Button */
    .btn {
        font-size: var(--size-sm);
    }

    /* Lists */
    .lists {
        gap: var(--size-3xl);
    }

    .list-title {
        font-size: var(--size-2xl);
    }

    .list-item {
        padding: var(--size-sm) var(--size-xl);
    }

    .list-name {
        font-size: var(--size-lg);
    }

    .list-category {
        font-size: var(--size-sm);
    }

    .list-details {
        flex-direction: column;
    }

    .list-details span {
        font-size: var(--size-xs);
    }

    .list-total {
        font-size: var(--size-lg);
        text-align: center;
    }

    .btn-delete,
    .btn-edit {
        width: var(--size-3xl);
        height: var(--size-3xl);
    }

    .btn-delete i,
    .btn-edit i {
        font-size: var(--size-lg);
    }
}

@media screen and (max-width: 478px) {

    .container {
        padding: var(--size-base) var(--size-xl);
    }

    .title {
        text-align: center;
    }

    /* Icon */
    .icon-container {
        padding: var(--size-xxs);
    }

    /* Form */
    .form-container {
        gap: var(--size-base);
    }

    .form-title {
        font-size: var(--size-lg);
        text-align: center;
    }

    .form-group {
        grid-column: span 2;
    }

    .form-label {
        font-size: var(--size-sm);
    }

    .form-input {
        font-size: var(--size-xs);
        padding: var(--size-xxs) var(--size-sm);
    }

    .form-btn i {
        font-size: var(--size-base);
    }

    /* Button */
    .btn {
        font-size: var(--size-xs);
    }

    /* Lists */
    .lists {
        gap: var(--size-2xl);
    }

    .list-title {
        font-size: var(--size-xl);
    }

    .list-item {
        padding: var(--size-xs) var(--size-lg);
        flex-direction: column;

        gap: var(--size-base);
    }

    .list-name {
        font-size: var(--size-base);
    }

    .list-category {
        font-size: var(--size-xs);
    }

    .list-details {
        flex-direction: column;
    }

    .list-details span {
        font-size: var(--size-xs);
    }

    .list-actions {
        flex-direction: row;
    }

    .list-total {
        font-size: var(--size-base);
        text-align: center;
    }

    .btn-delete,
    .btn-edit {
        width: var(--size-2xl);
        height: var(--size-2xl);
    }

    .btn-delete i,
    .btn-edit i {
        font-size: var(--size-base);
    }
}